{% extends "base.html.twig" %}
{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    {% for developer in developers %}
                        <div class="col-md-3 mt-4">
                            <div class="card h-100 shadow-sm">
                                <a href="{{ path('developer_assignments', {'id': developer.id}) }}" class="text-decoration-none text-dark">
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">{{ developer.name }}</h5>
                                        <div class="row">
                                            <div class="col-12 bg-light p-3 rounded">
                                                <ul class="list-group list-group-flush">
                                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                                        Current Weekly Point:
                                                        <span class="badge bg-success"><b>{{ developer.weeklyCapacity }}</b></span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
